<b>Output Binding</b> <br>

<ul>
<li><u>String Interpolation :</u> {{data}} or {{textFromFunc()}}<br>
<li><u class = "pull-left">Property binding : (innerText)</u>  <div [innerText] = "data" class = "pull-left"></div><br>
<br><u>Property binding : (value and id)</u>  <input type="text" name="" [value]="data" [id] = "id"><hr>
</ul>

<b>Input Binding</b> <br>

•	<u>Event Binding :</u> <input type="button" value="Click me" class = "btn btn-primary" (click) = "onclickBtn()">
<hr>

<b>Two-way binding</b> <br>

•	<input type="text" name="" [(ngModel)]="data"> this is two way binding
