<h3>Basics of Angular <small class = "text-danger">rightpanel</small></h3>
<b>Output Binding</b> <br>
<ul>
<li>
  <div class="row">
    <u class = "col-sm-5">String Interpolation :</u> <span class = "col-sm-7">{{data}} or {{textFromFunc()}}</span>
  </div>
<li>
  <div class="row">
    <u class = "col-sm-5">Property binding : (innerText)</u>  <div [innerText] = "data" class = "col-sm-7"></div><br>
  </div>
<li>
  <div class="row">
    <u class = "col-sm-5">Property binding : (value and id)</u>  <input type="text" name="" [value]="data" [id] = "id" class = "col-sm-7"><hr>
  </div>
</ul>

<b>Input Binding</b> <br>
<ul>
<li>
  <div class="row">
    <u class = "col-sm-5">Event Binding (click) :</u> <input type="button" value="Click to cahnge text" class = "btn btn-sm btn-primary" (click) = "onclickBtn()">
  </div>
<li>
  <div class="row">
    <u class = "col-sm-5">Event Binding (Passing Event) :</u> <input type="text" name="" [value]="data" (input) = "onChangeOfTextBox($event)" class = "col-sm-7">
  </div>
</ul>
<hr>

<b>Two-way binding <small>Needs FormsModule in app module</small></b> <br>

<ul >
<li>
  <div class="row">
    <u class = "col-sm-5">Two-way binding</u><input type="text" name="" [(ngModel)]="data" class = "col-sm-7">
  </div>
</ul>
<hr>
<b>Directives</b> <br><br>
<ul>

<li class = "col-12"><u>ngIf</u><br>
<div class = "row">
  <p class = "col-sm-5"> This is visible : </p>
  <p class = "col-sm-7"> [ <span *ngIf = "showIf">Hello</span> ] </p>
</div>
<div class = "row">
  <p class = "col-sm-5"> This is not visible : </p>
  <p class = "col-sm-7"> [ <span *ngIf = "!showIf">World</span> ] </p>
</div>
</li>
<li class = "col-12"><u>ngIf Else </u> <input type="button" class="btn btn-sm btn-success" value="Toggle if else" (click) = "toggleIfElse()"><br>
<p class = "col-12" *ngIf = "showIf; else showElse"> If is shown </p>
<ng-template #showElse>
  <p class = "col-12"> Else is shown </p>
</ng-template></li>
<li class = "col-12"><u>ngStyle</u><br>
  <div class="col-2">
      <div class="bulb" [ngStyle]="{backgroundColor: (showIf)?'#00d265':'#ff2e2e'}">
    </div>
  </div>
  <span class = "col-10">Click on <b>Toggle if else button</b> to change color</span>
</li>
<li class = "col-12"><u>ngClass</u><br>
  <div class="col-2">
      <div class="bulb" [ngClass]="{green: showIf, red: !showIf}">
    </div>
  </div>
  <span class = "col-10">Click on <b>Toggle if else button</b> to change color</span>
</li>
<li class = "col-12"><u>ngFor</u><br>
  <div class="col-2">
      <input type="button" class="btn btn-sm btn-danger" value="Click to add" (click) = "additems()">
  </div>
  <span class = "col-10">Click on <b>Click to add</b> to add items</span><br>
  <ul>
    <li *ngFor = "let item of items">{{item}}</li>
  </ul>
</li>
</ul>
<hr>
<h4><b>Lifecycle Hooks </b></h4>
<ul class = "well">
  <li>constructor</li>
  <li>ngOnChanges</li>
  <li>ngOnInit</li>
  <li>ngDoCheck</li>
  <ul>
    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>
  </ul>
  <li>ngOnDestroy</li>
</ul>
<hr>
<b>PIPE</b><br><br>
<app-pipe></app-pipe>

<hr>
<b>PARENT-CHIELD component Interaction</b><br><br>
  <div class="row parent-container">
    <h6>PARENT COMPONENT</h6>
    <span class = "col-12" *ngIf = "calledFromChildCtr > 0">Parent function called by child <b>{{calledFromChildCtr}}</b> times</span>
    <span class = "col-12"><button type="button" class="btn btn-sm btn-success" (click) = "callChildFunction()">Call Child Function (@ViewChild)</button></span>
    <app-child class = "col-12" #childComponent parentValue = "'This is passed from parent'" (callParentFunction) = "parentFunction($event)"></app-child>
  </div>
<hr>

<br><br><br>
