<div class="left-panel" [ngClass] = "teftpanelshow?'':'left-panel-hide'">
  <div class="left-panel-toggle" (click) = "leftpaneltoggle()">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div class = "left-container">
    <app-leftmenuitem [text] = "'BASICS'" [icon] = "'fa-th-list'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('BASICS')" (mouseleave) = "removehover()" (click) = "select('BASICS')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'SERVICES'" [icon] = "'fa-th-large'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('SERVICES')" (mouseleave) = "removehover()" (click) = "select('SERVICES')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'TODO'" [icon] = "'fa-male'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('TODO')" (mouseleave) = "removehover()" (click) = "select('TODO')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'ES6'" [icon] = "'fa-mobile'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('ES6')" (mouseleave) = "removehover()" (click) = "select('ES6')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'MATERIAL'" [icon] = "'fa-file-text'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('MATERIAL')" (mouseleave) = "removehover()" (click) = "select('MATERIAL')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'LOCATE'" [icon] = "'fa-map-marker'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('LOCATE')" (mouseleave) = "removehover()" (click) = "select('LOCATE')"> </app-leftmenuitem>
  </div>
</div>
