<div class="left-panel" [ngClass] = "teftpanelshow?'':'left-panel-hide'">
  <div class="left-panel-toggle" (click) = "leftpaneltoggle()">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div class = "left-container">
    <app-leftmenuitem [text] = "'BASICS'" [icon] = "'fa-th-list'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('BASICS')" (mouseleave) = "removehover()" (click) = "select('BASICS')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'DASHBOARD'" [icon] = "'fa-th-large'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('DASHBOARD')" (mouseleave) = "removehover()" (click) = "select('DASHBOARD')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'NEW ORDER'" [icon] = "'fa-file-text'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('NEW ORDER')" (mouseleave) = "removehover()" (click) = "select('NEW ORDER')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'DEVICES'" [icon] = "'fa-mobile'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('DEVICES')" (mouseleave) = "removehover()" (click) = "select('DEVICES')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'LOCATE'" [icon] = "'fa-map-marker'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('LOCATE')" (mouseleave) = "removehover()" (click) = "select('LOCATE')"> </app-leftmenuitem>
    <app-leftmenuitem [text] = "'ABOUT ME'" [icon] = "'fa-male'" [visible] = "teftpanelshow" [selectedone] = "selected" [hoveringon] = "hovering" (mouseenter) = "hoveron('ABOUT ME')" (mouseleave) = "removehover()" (click) = "select('ABOUT ME')"> </app-leftmenuitem>
  </div>
</div>
