<h2>CSS and Angular Material</h2>
<h3>
  Angular Material <small><a href="https://material.angular.io/guide/getting-started"> Click to go to Angular Material official guide</a></small>
</h3>
<br>
<mat-checkbox>Check Box</mat-checkbox>
<hr>
<h5>Sortable Table</h5>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="name">Dessert (100g)</th>
    <th mat-sort-header="calories">Calories</th>
    <th mat-sort-header="fat">Fat (g)</th>
    <th mat-sort-header="carbs">Carbs (g)</th>
    <th mat-sort-header="protein">Protein (g)</th>
  </tr>

  <tr *ngFor="let dessert of sortedData">
    <td>{{dessert.name}}</td>
    <td>{{dessert.calories}}</td>
    <td>{{dessert.fat}}</td>
    <td>{{dessert.carbs}}</td>
    <td>{{dessert.protein}}</td>
  </tr>
</table>

<hr>

<h5>Text box</h5>
<mat-form-field appearance="outline">
  <mat-label >Enter your user name</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-hint >You can also use your email</mat-hint>
</mat-form-field>

<hr>

<h5>Date Picker</h5>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<hr>

<h5>Tree</h5>
<h4>To Do</h4>

<h3>CSS 3</h3>
<h6>Display Inline, Block and Inline-Block</h6>
<br>
<span class = "all_box">Inline</span>
<div class="set_inline_blocks margin_1px">
  Inline Blocks
</div>
<div class="margin_1px">
  Block
</div>
<br>
<span class = "margin_1px">Inline</span>
<div class="set_inline_blocks all_box">
  Inline Blocks
</div>
<div class="margin_1px">
  Block
</div>
<br>
Inline Takes up the space only by it's content eg. span, a, i, button<br>
Inline-Block Takes up space by it's content and box model (border, margin and padding) <br>
Block takes up 100% width, starts with new line and also takes up space by it's box model eg div, hr, table, p<br>
 <br><hr>
 <h6>Clearfix</h6>
 <div class="parent_class">
   Parent Class <br>
   <div class="floating_child">
     Floating Child 1
   </div>
   <div class="floating_child">
     Floating Child 2
   </div>
   <div class="floating_child">
     Floating Child 3
   </div>
 </div>
 <br><br>
 <div class="parent_class clearfix">
   Parent Class With <b>clearfix</b> class applied<br>
   <div class="floating_child">
     Floating Child 1
   </div>
   <div class="floating_child">
     Floating Child 2
   </div>
   <div class="floating_child">
     Floating Child 3
   </div>
 </div>
