/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-spread {
    float: left;
    width: 100%;
    height: 100%;
}
.btn {
  cursor: pointer;
}
.heading-text {
    font-weight: 500;
    line-height: 47px;
    display: block;
}
